<nav>

    <a href="/productos"><button class="btn btn-success">Productos</button></a>

    <a href="/carrito"><button class="btn btn-success">Mi Carrito</button></a>

    <a href="/perfil"><button class="btn btn-success">Mi información</button></a>

</nav>