<div class="container-fluid mt-3">
    <h1 class="text-center">Login</h1>
    <form action="/login" method="post">
        <div class="form-group">
            <label for="nameSession">Nombre</label>
            <input type="text" id="nameSession" name="nameSession" class="form-control" required >
        </div>
        <button type="submit" class="btn btn-success mt-3 mb-5">Enviar</button>
    </form>
</div>