<div class="container-fluid mt-3">
  <h1 class="text-center mt-3">Error de registro</h1>
  <h4 class="mt-3">Redirigiendo...</h4>
</div>
{{#if script}}
  <script src="../scripts/{{script}}.js"></script>
{{/if}}